#junk
.ipynb_checkpoints
.DS_Store

# draft, raw or junk data files
/data/*.geojson
*/*.csv
*/*.pkl

# ignores maps we don't use but are storing for the future
basemaps/10m_cultural/
basemaps/50m_cultural/

# ignores the indesign files
output/indesign
